/* app/listing/page.module.css */
@media (max-width: 767px) {
    .customHeader {
        margin-bottom: 16px;
    }

    .customFooter {
        margin-top: 16px;
    }

    .pageContainer {
        margin-bottom: 35px;
        margin-top: 55px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width: 768px) {
    .customHeader {
            margin-bottom: 54px;
        }
    
        .customFooter {
            margin-top: 84px;
        }

    .pageContainer {
        margin-bottom: 50px;
        margin-top: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }
}